#countdown {
    text-align: center;
    font-size: xx-large;
    font-family: clock;
    padding-left: 50%;
    size: 50%;
    font-weight: 100;
}

div {
    margin-top: 30%;
    padding-top: 40px;
}

@font-face {
    font-family: clock;
    src: url("clock-master/fonts/digital-7.ttf");
    font-size: xx-large;
}